USE [master]
GO
/****** Object:  Database [BankTest]    Script Date: 2020/11/18 19:58:22 ******/
CREATE DATABASE [BankTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BankTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BankTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BankTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankTest]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 2020/11/18 19:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[PassportNumber] [varchar](10) NOT NULL,
	[FullName] [varchar](200) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[TaxId] [varchar](12) NULL,
	[TelephoneNumber] [varchar](11) NULL,
	[AuthId] [int] NULL,
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[IncomePerMonth] [money] NULL,
	[AccountCreatorId] [int] NOT NULL,
 CONSTRAINT [PK_Clients_1] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/******CREATE UNIQUE CONSTRAINTS******/
CREATE UNIQUE INDEX UC_Clients_PassportNumber
  ON Clients(PassportNumber)
GO
CREATE UNIQUE INDEX UC_Clients_TaxId
  ON Clients(TaxId)
  WHERE TaxId IS NOT NULL
GO
CREATE UNIQUE INDEX UC_Clients_TelephoneNumber
  ON Clients(TelephoneNumber)
  WHERE TelephoneNumber IS NOT NULL
GO

/****** Object:  View [dbo].[ClientData]    Script Date: 2020/11/18 19:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ClientData] as 
SELECT * FROM Clients
GO
/****** Object:  Table [dbo].[BankTestAccounts]    Script Date: 2020/11/18 19:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankTestAccounts](
	[BankTestAccountId] [int] IDENTITY(1,1) NOT NULL,
	[IsDebit] [bit] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[Total] [money] NOT NULL,
	[DateOfCreation] [date] NOT NULL,
	[Currency] [varchar](3) NOT NULL,
	[ClientId] [int] NOT NULL,
	[AccumulatedInterest] [money] NULL,
 CONSTRAINT [PK_BankTestAccounts] PRIMARY KEY CLUSTERED 
(
	[BankTestAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[AccountsData]    Script Date: 2020/11/18 19:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AccountsData] as 
SELECT ClientId, IsDebit, ServiceId, Total, DateOfCreation, Currency, AccumulatedInterest FROM BankTestAccounts
WHERE ClientId = 2 --ClientID
GO
/****** Object:  Table [dbo].[Services]    Script Date: 2020/11/18 19:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[Months] [int] NOT NULL,
	[Interest] [float] NOT NULL,
	[IsDebit] [bit] NOT NULL,
	[LoanOverdueTerms] [varchar](max) NULL,
	[EarlyWithdrawalTerms] [varchar](max) NULL,
	[Currency] [varchar](3) NOT NULL,
	[RequiredIncome] [money] NULL,
	[Description] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ServicesData]    Script Date: 2020/11/18 19:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** ADD BASIC SERVICES DATA ******/
SET IDENTITY_INSERT [dbo].[Services] ON 
INSERT [dbo].[Services] ([ServiceId], [Months], [Interest], [IsDebit], [LoanOverdueTerms], [EarlyWithdrawalTerms], [Currency], [RequiredIncome], [Description]) VALUES (1, 12, 8.4, 1, NULL, NULL, N'RUB', 0.0000, N'High Interest Deposit')
INSERT [dbo].[Services] ([ServiceId], [Months], [Interest], [IsDebit], [LoanOverdueTerms], [EarlyWithdrawalTerms], [Currency], [RequiredIncome], [Description]) VALUES (2, 60, 0.01, 1, NULL, NULL, N'RUB', 0.0000, N'Long Term Flexible Deposit')
INSERT [dbo].[Services] ([ServiceId], [Months], [Interest], [IsDebit], [LoanOverdueTerms], [EarlyWithdrawalTerms], [Currency], [RequiredIncome], [Description]) VALUES (3, 12, 1.5, 1, NULL, NULL, N'JPY', 0.0000, N'High Interest Deposit')
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
--3. Условия кредитов и вкладов
CREATE VIEW [dbo].[ServicesData] as 
SELECT * FROM Services
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 2020/11/18 19:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[SourceAccountId] [int] NULL,
	[TransferAccountId] [int] NOT NULL,
	[Total] [money] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[Currency] [varchar](3) NOT NULL,
	[AuthorisedWorkerId] [int] NULL,
	[Status] [smallint] NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ClientTransactionsData]    Script Date: 2020/11/18 19:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--4. Транзакции клиента
CREATE VIEW [dbo].[ClientTransactionsData] as 
SELECT ClientId, TransactionId, SourceAccountId, TransferAccountId, Transactions.Total, Timestamp, Transactions.Currency, AuthorisedWorkerId, Status FROM Transactions
JOIN BankTestAccounts ON Transactions.TransferAccountId = BankTestAccounts.BankTestAccountId
WHERE BankTestAccounts.ClientId = 2 --ClientID
GO
/****** Object:  View [dbo].[TransactionsData]    Script Date: 2020/11/18 19:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--5. Транзакции за указанный период времени
CREATE VIEW [dbo].[TransactionsData] as 
SELECT * FROM Transactions
where Timestamp >= '2020-11-01' AND Timestamp <= '2020-12-01'
GO
/****** Object:  Table [dbo].[Auth]    Script Date: 2020/11/18 19:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auth](
	[AuthId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](80) NOT NULL,
	[PasswordHash] [varchar](64) NOT NULL,
 CONSTRAINT [PK_Auth] PRIMARY KEY CLUSTERED 
(
	[AuthId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/******CREATE UNIQUE CONSTRAINTS******/
CREATE UNIQUE INDEX UC_Auth_Login
  ON Auth(Login)
GO
CREATE UNIQUE INDEX UC_Auth_PasswordHash
  ON Auth(PasswordHash)
GO

/****** Object:  Table [dbo].[Exchange]    Script Date: 2020/11/19 04:20:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exchange](
	[ExchangeId] [int] IDENTITY(1,1) NOT NULL,
	[From] [varchar](3) NOT NULL,
	[To] [varchar](3) NOT NULL,
	[Rate] [money] NOT NULL,
 CONSTRAINT [PK_Exchange] PRIMARY KEY CLUSTERED 
(
	[ExchangeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** ADD CURRENCY EXCHANGE DATA ******/
SET IDENTITY_INSERT [dbo].[Exchange] ON 
INSERT [dbo].[Exchange] ([ExchangeId], [From], [To], [Rate]) VALUES (1, N'RUB', N'JPY', 1.3700)
INSERT [dbo].[Exchange] ([ExchangeId], [From], [To], [Rate]) VALUES (2, N'RUB', N'USD', 0.0130)
INSERT [dbo].[Exchange] ([ExchangeId], [From], [To], [Rate]) VALUES (3, N'RUB', N'EUR', 0.0110)
SET IDENTITY_INSERT [dbo].[Exchange] OFF
GO

/****** Object:  Table [dbo].[Workers]    Script Date: 2020/11/18 19:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[PassportNumber] [varchar](10) NOT NULL,
	[FullName] [varchar](200) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[TaxId] [varchar](12) NOT NULL,
	[CriminalRecords] [varbinary](max) NULL,
	[WorkerId] [int] IDENTITY(1,1) NOT NULL,
	[AuthId] [int] NOT NULL,
 CONSTRAINT [PK_Workers] PRIMARY KEY CLUSTERED 
(
	[WorkerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/******CREATE UNIQUE CONSTRAINTS******/
CREATE UNIQUE INDEX UC_Workers_PassportNumber
  ON Workers(PassportNumber)
GO
CREATE UNIQUE INDEX UC_Workers_TaxId
  ON Workers(TaxId)
GO

ALTER TABLE [dbo].[BankTestAccounts]  WITH CHECK ADD  CONSTRAINT [FK_BankTestAccounts_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
GO
ALTER TABLE [dbo].[BankTestAccounts] CHECK CONSTRAINT [FK_BankTestAccounts_Clients]
GO
ALTER TABLE [dbo].[BankTestAccounts]  WITH CHECK ADD  CONSTRAINT [FK_BankTestAccounts_Services] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
GO
ALTER TABLE [dbo].[BankTestAccounts] CHECK CONSTRAINT [FK_BankTestAccounts_Services]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Auth] FOREIGN KEY([AuthId])
REFERENCES [dbo].[Auth] ([AuthId])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Auth]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Workers] FOREIGN KEY([AccountCreatorId])
REFERENCES [dbo].[Workers] ([WorkerId])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Workers]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_BankTestAccounts] FOREIGN KEY([SourceAccountId])
REFERENCES [dbo].[BankTestAccounts] ([BankTestAccountId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_BankTestAccounts]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_BankTestAccounts1] FOREIGN KEY([TransferAccountId])
REFERENCES [dbo].[BankTestAccounts] ([BankTestAccountId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_BankTestAccounts1]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Workers] FOREIGN KEY([AuthorisedWorkerId])
REFERENCES [dbo].[Workers] ([WorkerId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Workers]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [FK_Workers_Auth] FOREIGN KEY([AuthId])
REFERENCES [dbo].[Auth] ([AuthId])
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [FK_Workers_Auth]
GO
/****** Object:  StoredProcedure [dbo].[Add_Client]    Script Date: 2020/11/18 19:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Add_Client](@PassportNumber AS VARCHAR(10), @FullName AS VARCHAR(200), @BirthDate AS DATE,
@AccountCreatorId AS INT, @TaxId VARCHAR(12) = NULL, @TelephoneNumber VARCHAR(11) = NULL, @IncomePerMonth MONEY = NULL)
AS
	IF (@IncomePerMonth != NULL AND @IncomePerMonth < 0)
	BEGIN
		RAISERROR('ERROR: Income can not be negative',15,1);
		RETURN;
	END;
	ELSE
	BEGIN
		INSERT INTO Clients(PassportNumber,FullName,BirthDate, AccountCreatorId, TaxId, TelephoneNumber, IncomePerMonth)
		VALUES (@PassportNumber, @FullName, @BirthDate, @AccountCreatorId, @TaxId, @TelephoneNumber, @IncomePerMonth);
	END;
GO
/****** Object:  StoredProcedure [dbo].[Add_Worker]    Script Date: 2020/11/18 19:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--完了
CREATE PROCEDURE [dbo].[Add_Worker](@PassportNumber AS VARCHAR(10), @FullName AS VARCHAR(200), @BirthDate AS DATE, @TaxId as varchar(12),
@Login as varchar(80), @Password as varchar(80))
AS
	--In case of an error, rollback will be issued automatically.
	set xact_abort on
	begin transaction
	
	Declare @AuthId as int
	Declare @WorkerId as int
	insert into Auth(Login,PasswordHash) Values (@Login, 'promise'); --because of a circular dependency 
	set @AuthId = SCOPE_IDENTITY()
	INSERT INTO Workers(PassportNumber,FullName,BirthDate,TaxId, AuthId) VALUES (@PassportNumber, @FullName, @BirthDate, @TaxId, @AuthId);
	set @WorkerId = SCOPE_IDENTITY()
	--we still need to store real password's hash
	Update Auth set PasswordHash = CONVERT(varchar(64), HASHBYTES('SHA2_256', @Password + '' + CONVERT(varchar(10), @AuthId)),2) --salted hash
	from Workers as wk 
	where wk.AuthId = Auth.AuthId and wk.WorkerId = @WorkerId
	--the real password's hash is stored, promise is fulfilled, circular dependency is resolved. And everyone lived happily ever after...
	
	commit
GO
/****** Object:  StoredProcedure [dbo].[Change_Auth_Client]    Script Date: 2020/11/18 19:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Change_Auth_Client](@ClientId as int, @Login as varchar(80), @Password as varchar(80))
as
Update Auth
set Login = @Login, PasswordHash = CONVERT(varchar(64), HASHBYTES('SHA2_256', @Password + '' + CONVERT(varchar(10), @ClientId)),2)
from Clients as cl 
where cl.AuthId = Auth.AuthId and cl.ClientId = @ClientId
GO
/****** Object:  Trigger [dbo].[Account_Transfer]    Script Date: 2020/11/18 19:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--完了
CREATE TRIGGER [dbo].[Account_Transfer]
ON [dbo].[Transactions]
for insert
AS
BEGIN
	--In case of an error, rollback will be issued automatically.
	set xact_abort on
	begin transaction
		Update BankTestAccounts set BankTestAccounts.Total += (select Total from inserted)
		where BankTestAccounts.BankTestAccountId = (select TransferAccountId  from inserted)
		Update BankTestAccounts set BankTestAccounts.Total -= (select Total from inserted)
		where BankTestAccounts.BankTestAccountId = (select SourceAccountId  from inserted)
		Update Transactions set Transactions.Status = 1
		where Transactions.TransactionId = (select TransactionId from inserted)
	commit
END;
GO
ALTER TABLE [dbo].[Transactions] ENABLE TRIGGER [Account_Transfer]
GO
/****** Object:  Trigger [dbo].[Reject_Suspicious]    Script Date: 2020/11/18 19:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Reject_Suspicious]
ON [dbo].[Transactions]
after update
AS
BEGIN
	IF EXISTS(SELECT Total FROM Transactions where Total > 600000 and AuthorisedWorkerId is null and Status = 1)
	BEGIN
		RAISERROR('WARNING: SUSCICIOUS TRANSACTION HAS BEEN IDENTIFIED',15,1);
	--In case of an error, rollback will be issued automatically.
	set xact_abort on
	begin transaction
		Update BankTestAccounts set BankTestAccounts.Total -= (select Total from inserted)
		where BankTestAccounts.BankTestAccountId = (select TransferAccountId  from inserted)
		Update BankTestAccounts set BankTestAccounts.Total += (select Total from inserted)
		where BankTestAccounts.BankTestAccountId = (select SourceAccountId  from inserted)
		Update Transactions set Transactions.Status = -1
		where Transactions.TransactionId = (select TransactionId from inserted)
	commit
	RAISERROR('ATTENTION: SUSCICIOUS TRANSACTION HAS BEEN REVERSED',15,1);
	END;
END;
GO
ALTER TABLE [dbo].[Transactions] ENABLE TRIGGER [Reject_Suspicious]
GO
USE [master]
GO
